<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/header :: header"></th:block>
    <link rel="stylesheet" href="/css/boardPage.css"/>
    <script type="text/javascript" src="/js/board.js"></script>
</head>
<body>
<header th:replace="fragments/bodyHeader :: bodyHeader"/>
<section id="board-saveForm">
    <div class = "container">
        <form th:object="${board}">
            <div class = "board-id-container">
                <input type="hidden" id="board_id" name="board_id" th:value="*{boardId}"/>
            </div>

            <div class="mb-3 form-group">
                <input type="text" name="title" class="form-control board-title"
                       id="title"  aria-describedby="emailHelp" th:value="*{title}">
            </div>

            <textarea id="summernote" name="editordata" th:utext="*{content}"></textarea>
        </form>

        <div class="user-joinForm-button btn-board-update">
            <button id="button-board-update" class="btn pull-right btn-dark mt-2" >글 수정</button>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer :: footer"/>
</body>
</html>