<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="body-header" th:fragment="bodyHeader">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <!-- session.principal(user entity)가 Null이면 로그인 , 회원가입 링크 표시-->
                    <th:block th:if="${#authentication.principal == null}">
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/login">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/join">회원가입</a>
                        </li>
                    </th:block>

                    <th:block th:unless="${#authentication.principal == null}">
                        <li class="nav-item">
                            <a class="nav-link" href="/board">글쓰기</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">회원정보</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">로그아웃</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>