<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head >
    <th:block  th:replace="fragments/header :: header"></th:block>
    <link rel="stylesheet" href="/css/boardPage.css">
<head/>

<body>
    <header th:replace="fragments/bodyHeader :: bodyHeader"/>
    <section class = "blog-postings">
        <th:block th:each="board : ${boards.getContent()}">
            <div class="container mt-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${board.getTitle()}">제목적는 부분</h4>
                        <p class="card-text">글 일부 내용들</p>
                        <a th:href="@{/boards/{id} (id = ${board.getBoardId()})}" class="btn btn-primary">상세보기</a>
                    </div>
                </div>
                <br>
            </div>
        </th:block>

        <!--paging-->
        <div class = "paging-section">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!--  previous paging-->
                    <li th:attr="class=${boards.isFirst() ? 'disabled page-item' : 'page-item' }">
                        <a class="page-link" th:href="@{/?page={prevPage} (prevPage = ${boards.getPageable().getPageNumber()-1})}">Prev</a>
                    </li>

<!--                    <th:block th:if="${boards.isFirst()}">-->
<!--                        <li class="page-item active">-->
<!--                            <a class="page-link"-->
<!--                               th:href="@{/?page={currentPage} (currentPage = ${boards.getPageable().getPageNumber()})}"-->
<!--                                th:text="${boards.getPageable().getPageNumber()+1}"></a>-->
<!--                        </li>-->
<!--                    </th:block>-->


                    <!-- classappend : 특정 조건일때만 추가    -->
                    <li class="page-item" th:classappend="${pageNumber == boards.getPageable().getPageNumber()} ? 'active' : ''"
                        th:each="pageNumber : ${#numbers.sequence(startPage , endPage-1)}">
                        <a class="page-link"
                           th:href="@{/?page={page} (page = ${pageNumber})}"
                           th:text="${pageNumber+1}"></a>
                    </li>

                    <li class="page-item">
                        <a class="page-link">...</a>
                    </li>

                    <!--   last page  -->
                    <li class="page-item">
                        <a class="page-link" th:href="@{/?page={lastPage} (lastPage = ${boards.getTotalPages()-1})}" th:text="${boards.getTotalPages()}"></a>
                    </li>

                    <!--  next paging-->
                    <li th:attr="class=${boards.isLast() ? 'disabled page-item' : 'page-item' }">
                        <a class="page-link" th:href="@{/?page={nextPage} (nextPage = ${boards.getPageable().getPageNumber()+1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </section>


    <footer th:replace="fragments/footer :: footer"/>
</body>
</html>